.main-view {
  display: grid;
  grid-template-rows: 100vh;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "navigation timeline filter";
}

.navigation {
  grid-area: navigation;
  padding: var(--spacing-1);
}

.navigation-mobile {
  display: none;
}

#logo-full {
  width: 100%;
}

#logo-small {
  display: none;
}

.timeline {
  grid-area: timeline;
  padding-left: var(--spacing-big);
  display: flex;
  flex-direction: row;
}

.filter {
  grid-area: filter;
  text-align: center;
  padding: var(--spacing-huge) 0;
}

.navigation nav a {
  color: white;
  font-weight: bold;
  margin-right: var(--spacing-1);
}

#years {
  height: 100%;
}

#years ul {
  display: inline-block;
  height: 100%;
  list-style: none;
  padding: var(--spacing-2) 0 var(--spacing-2) var(--spacing-2);
  border-right: var(--border-size-normal) solid #afafaf;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#years ul::-webkit-scrollbar {
  width: 0;
  height: 0;
}

#years ul li:hover {
  background-color: rgba(white, 0.5);
}

#years .active a {
  color: var(--accent-color-primary);
  font-weight: bold;
}

#years .active a::after {
  content: "";
  display: inline-block;
  position: relative;
  height: 1.8rem;
  width: 1.8rem;
  margin-left: var(--spacing-2);
  background-color: #ef8ece;
  border-radius: 100%;
  vertical-align: text-top;
}

#posts {
  flex: 1;
  padding: var(--spacing-2) var(--spacing-4);
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#posts::-webkit-scrollbar {
  width: 0;
  height: 0;
}

#posts .month {
  margin-bottom: var(--spacing-3);
}

#posts .month span {
  color: white;
}

.month-posts {
  list-style: none;
  margin-top: var(--spacing-1);
}

.month-posts li {
  margin: 0 0 var(--spacing-1) var(--spacing-2);
}

@media only screen and (max-width: 950px) {
  .main-view {
    grid-template-rows: 7rem 5rem calc(100vh - 12rem);
    grid-template-columns: 1fr;
    grid-template-areas:
      "navigation"
      "filter"
      "timeline";
  }

  #logo-full {
    display: none;
  }

  .navigation {
    display: none;
  }

  .navigation-mobile {
    display: flex;
    flex-direction: row;
  }

  .navigation-mobile #menu {
    text-align: left;
    height: 2rem;
    align-self: center;
  }

  #logo-small {
    margin-left: auto;
    display: inline-block;
    height: 3rem;
    align-self: center;
  }

  .timeline {
    padding-left: 0;
  }

  .filter {
    padding: 0;
    text-align: right;
  }

  .filter a {
    color: var(--fg-color-normal);
  }

  #years ul {
    padding-left: 0;
  }

  #years .active a::after {
    height: 1rem;
    width: 1rem;
    margin-left: var(--spacing-3);
  }
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: var(--bg-color-normal);
  z-index: 10;
}

.overlay .closeBtn {
  font-weight: bold;
  font-size: 5rem;
  margin: var(--spacing-4);
  color: #fccb05;
}

.overlay-content {
  text-align: center;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.overlay-content a {
  display: block;
  color: white;
}
