/* proposed features :: feather.v2.1._  */
.d-inline {
  display: inline;
}

.bg-color-white {
  background-color: white;
}

.fg-color-black {
  color: black;
}

.fg-weight-normal {
  font-weight: normal;
}

.fg-align-center {
  justify-content: center;
}

.rounded-normal {
  border-radius: 0.4rem;
}

.mt-auto {
  margin-top: auto;
}

.mv-auto {
  margin: auto 0;
}

.mv-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mh-auto {
  margin-left: auto;
  margin-right: auto;
}

.align-center {
  align-self: center;
}

/* misc. utilities */
.uppercase {
  text-transform: uppercase;
}

.gap-5 {
  grid-gap: var(--spacing-5);
}

/* theme specific stylings */
/* ---- navbar ----------------------------------- */
.navbar {
  display: flex;
  flex-direction: row;
  padding: var(--spacing-2) 0;
}

.navbar__fixed__logo {
  display: flex;
  flex-direction: row;
}

.navbar__fixed__logo img {
  height: 8rem;
  margin-right: var(--spacing-1);
}

.navbar__fixed__logo span {
  font-weight: var(--fg-weight-bold);
  align-self: center;
}

.navbar__links {
  flex: 1;
  text-align: right;
  align-self: center;
}

.navbar__fixed__links_expand {
  display: none;
}

.navbar__links a {
  color: var(--fg-color-dull);
  font-size: var(--fg-size-small);
  font-weight: var(--fg-weight-bold);
  margin-right: var(--spacing-1);
  padding: var(--spacing-2);
  border-radius: 0.4rem;
}

.navbar__links a:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.navbar__shopbasket {
  margin-bottom: -0.2rem;
  align-self: center;
}

.navbar__shopbasket img {
  width: 2.5rem;
}

@media only screen and (max-width: 1000px) {
  .navbar {
    flex-direction: column;
  }

  .navbar__fixed {
    display: flex;
  }

  .navbar__fixed div {
    flex: 1;
  }

  .navbar__fixed__links_expand {
    display: flex;
    padding: 0;
    margin: 0;
    border-radius: 0.4rem;
  }

  .navbar__fixed__links_expand img {
    width: 2rem;
    height: 2rem;
    margin: auto;
  }

  .navbar__links {
    display: none;
    margin: var(--spacing-2) 0;
    align-self: normal;
  }

  .navbar__links a {
    display: block;
    width: calc(100% + var(--spacing-2) * 2);
    text-align: left;
    margin-left: calc(var(--spacing-2) * -1);
  }

  .navbar__shopbasket {
    display: none;
    /* align-self: normal; */
  }

  .navbar__shopbasket img {
    margin: 0;
  }
}

/* ---- home page  --------------------------------- */
/* ---- hero section ------------------------------- */
.hero {
  max-width: 50%;
}

.hero__background {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

.hero__background img {
  width: 60rem;
}

@media only screen and (max-width: 1000px) {
  .hero {
    max-width: 100%;
  }

  .hero__background {
    display: none;
  }

  .hero__endorsement {
    flex-direction: column;
  }

  .hero__endorsement_text {
    margin-top: var(--spacing-1);
  }
}

/* ---- payment plans ------------------------ */
.payment_plans {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
}

.payment_plans__card {
  min-width: calc(var(--container-width) / 4.5);
  max-width: calc(var(--container-width) / 3);
  margin: 0 auto;
  border-right: var(--border-size-normal) solid var(--bg-color-dark);
}

.payment_plans__card:last-child {
  border-right: none;
}

.payment_plans__card img {
  height: 7rem;
}

@media only screen and (max-width: 630px) {
  .payment_plans__card {
    border-right: none;
    border-bottom: var(--border-size-normal) solid var(--bg-color-dark);
    max-width: 100%;
  }

  .payment_plans__card:last-child {
    border-bottom: none;
  }
}

/* ---- tests video -------------------------- */
.tests_video {
  flex-wrap: wrap;
}

@media only screen and (max-width: 914px) {
  .tests_video {
    text-align: center;
    flex-direction: column;
  }

  .tests_video h2,
  .tests_video h6 {
    margin-top: var(--spacing-2);
    padding: 0 var(--spacing-2);
  }
}

/* ---- bubble cards ------------------------- */
.bubble_cards {
  grid-gap: 2.5rem;
}

.bubble_cards__bubble {
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 5rem;
  margin: -6rem auto 2rem auto;
}

.bubble_cards__bubble_large {
  justify-content: center;
  align-items: center;
  height: 7rem;
  width: 7rem;
  margin: -6rem auto 2rem auto;
}

.bubble_cards__content {
  height: calc(100% - 3rem);
}

/* ---- testing attributes ------------------- */

.attributes {
  padding-top: var(--spacing-big);
}

@media only screen and (max-width: 700px) {
  .attributes {
    padding-top: var(--spacing-huge);
  }
}

/* ---- FAQs --------------------------------- */
.faq {
  max-width: 80%;
}

@media only screen and (max-width: 950px) {
  .faq {
    max-width: 100%;
  }
}

/* ---- guarantee ---------------------------- */
.guarantee {
  max-width: 80%;
}

.guarantee img {
  width: 18rem;
  margin-right: var(--spacing-5);
}

@media only screen and (max-width: 950px) {
  .guarantee {
    max-width: 100%;
    flex-wrap: wrap;
    text-align: center;
    margin: var(--spacing-4) auto;
  }

  .guarantee h3 {
    margin-top: var(--spacing-2);
  }

  .guarantee img {
    margin-right: 0;
  }
}

/* ---- footer links ------------------------- */

@media only screen and (max-width: 900px) {
  .footer__links a {
    display: block;
    margin-bottom: var(--spacing-1);
  }
}

/* ---- common component stylings------------- */
.user_rating {
  display: flex;
  flex-direction: row;
}

.user_rating img {
  width: 6rem;
}

.user_rating span {
  padding: auto 0;
  margin-left: var(--spacing-2);
}

.avatar {
  border-radius: 100%;
  height: 9rem;
}

.recommended {
  background-color: black;
  font-size: calc(var(--fg-size-small) - 0.3rem);
  padding: 0.6rem;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  border-radius: var(--border-radius);
}

/* ---- allergy vs intolerance page --------------- */
.alergy_v_intolerance__video {
  margin: var(--spacing-big) 0;
}

.alergy_v_intolerance__comparison p {
  width: 50%;
  margin: auto;
}

@media only screen and (max-width: 914px) {
  .alergy_v_intolerance__video {
    margin: var(--spacing-big) 0 0 0;
  }

  .alergy_v_intolerance__comparison p {
    width: 100%;
  }
}

/* ---- hair testing page ------------------------ */
.hair_testing__cards {
  grid-gap: var(--spacing-3);
}

.hair_testing__cards div {
  border-radius: 0.4rem;
}

/* ---- products page  --------------------------- */
.products_page__product_image {
  width: 90%;
}

.products_page__quantity_box {
  display: inline;
  padding: 1.6rem var(--spacing-2);
}

.products_page__quantity_box span {
  height: 100%;
  align-self: center;
}

.products_page__quantity_box button {
  align-self: center;
  display: inline-block;
  border: none;
  border-radius: 0;
  padding: 0;
  color: black;
  background-color: transparent;
  vertical-align: unset;
}

.products_page__tabs {
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: var(--border-size-normal) solid #e1e1e1;
}

.products_page__tabs a {
  color: var(--fg-color-dull);
  text-transform: uppercase;
  font-weight: normal;
}

.products_page__tabs a:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

.products_page__tabs a.active {
  color: var(--accent-color-primary);
  border-bottom: calc(var(--border-size-normal) * 2) solid
    var(--accent-color-primary);
  font-weight: var(--fg-weight-bold);
}

@media only screen and (max-width: 814px) {
  .products_page__product_image {
    width: 100%;
    margin-bottom: var(--spacing-2);
  }

  .products_page__tabs a {
    width: 100%;
  }
}
