.todo_item {
  display: flex;
  padding: 1.4rem 0;
  border-bottom: 0.1rem solid rgba(0,0,0,0.05);  
}

.todo_item input[type="checkbox"] {
  margin: auto 1rem auto 0;
}

.todo_item span {
  margin: auto 0;
}

.delete {
  color: #a29a9a;
  cursor: pointer;
  margin-left: auto !important;
  padding: 0 0.5rem;
  font-weight: bold;
}

.delete:hover {
  background-color: rgba(0,0,0,0.05);
}