/* container */	
.section {
	margin: 1rem 0rem;
}

/* navigation bar */
nav {
	background: white;
	font-size: 0;
	padding: 0;
	border-bottom: solid 1px #e1e1e1;
} 

/* links in nav bar */
nav a {
	display: inline-block;
	font-size: 1.8rem;
	color: #222;
	text-align: center;
	padding: 1.3rem 2rem 0.7rem 2rem;
	text-decoration: none;
	font-size: 1.3rem;
	border-bottom: solid 2px transparent;
	margin-bottom: -1px;
}

nav a:hover {
	background: rgba(0,0,0,0.02);
	color: #222;
	border-bottom: solid 2px #959595;
}

nav .active {
	font-weight: bold;
	border-bottom: solid 2px #757575;
}

/* switch to mobile at 750px */
@media (max-width: 750px) {
	nav div {
		display: block;
		position: absolute;
		left: 0rem;
		bottom: -15rem;
	}

	nav a {
		display: block;
		text-align: left;
		padding-left: 2rem;
	}

	nav a:hover {
		border-bottom: solid 2px transparent;
	}

	nav .active {
		border-bottom: solid 2px transparent;
	}
}

/* headings */
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.5rem;
}

/* paragraphs */
p {
	margin-top: 1.5rem;
	margin-bottom: 0rem;
}

/* horizontal rule */
hr {
	margin: 1rem 0rem;
}

/* links */
a {
	text-decoration: none;
	color: #0c6d81;
}

a:hover {
	color: #095c6d;
}

/* table */
/* table heading */
legend {
	font-size: 3rem;
	margin-top: 0;
  	margin-bottom: 1rem;
  	font-weight: 300;
}

/* set the row hover effect */
tbody tr:hover {
	background: rgba(0,0,0,0.02);
}

/* fix left padding */
th:first-child,
td:first-child {
	padding-left: 2rem; 
}

/* fix right padding */
th:last-child,
td:last-child {
	padding-right: 2rem; 
}

/* page number buttons */
.pages {
	display: inline-block;
	border: solid 1px #bbb;
	border-radius: 4px;
	overflow: hidden;
}

.pages a {
	display: inline-block;
	border-radius: 0px;
	padding: 0 1rem;
}

.pages a:hover {
	background: rgba(0,0,0,0.1);
}

/* messages */
.message {
	padding: 2rem;
	margin: 1rem 0rem;
	border-radius: 4px;
	border: 1px solid #bbb;
	background: rgba(0,0,0,0.03);
}  

.message h1 {
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.message p {
	text-align: justify;
	padding: 0px;
	margin: 0px;
}


/* boxes */
.box {
	padding: 2rem;
	margin: 2rem 0rem;
	border-radius: 4px;
	border: 1px solid #d4d4d5;
}

.box hr {
	margin: 0rem;
	padding: 0rem;
}

/* make a block element stick to the top */
.sticky {
	position: sticky;
	top: 0;
	z-index: 1;
}

/* override default text selection colors */
::-moz-selection {
  background: #cce1fe;
}

::selection {
  background: #cce1fe;
}

/* shadow */
.shadow {
	box-shadow: 0rem 0rem 0.6rem #e5e5e5;
}

/* event color */
.positive {
	background: #fcfff5;
	color: #1a531b;
	border-color: #a3c293;
}

.negative {
	background: #fff6f6;
	color: #912d2b;
	border-color: #e0b4b4;	
}

.alert {
	background: #fffaf3;
	color: #573a08;
	border-color: #c9ba9b; 
}

.info {
	background: #f8ffff;
	color: #478598;
	border-color: #a9d5de;
}